<!DOCTYPE html>

<html>
    <head>
        <title>QUIZ GAME</title>
        <link rel="icon" href="icon.png">
        <link rel="stylesheet" href="Style.css">

    </head>
    <body>

        <center>
            <h1>
                PRO QUIZ MASTER GAME
                <h1 id="h1" >Points before update</h1>

            </h1>

        </center>

        <h2 id="question"></h2>
        <h1 id="checkAnswer">FALSE!</h1>


        <div class="billede-1">
            <center><img src="boomboom.gif" alt="Image Is Gone"></center>
        </div>

        <div class="buttonAnswers">
            <center><input type="button" id="button0"value="NULL"</input></center>
            <center><input type="button" id="button1"value="NULL"</input></center>
            <center><input type="button" id="button2"value="NULL"</input></center>
            <center><input type="button" id="button3"value="NULL"</input></center>
        </div>

        <script src="script.js"></script>
        <script src="question.js"></script>
    </body>


</html>
