html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #d4af37;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em 2em 4em;
}

body {
    margin: 0;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

.buttonAnswers input {
    width: 50%;
    float: right;
    background-color: #d4af37; 
    padding: 10px 35px; /* Button size */
    }

    /* Change color on hover */
.buttonAnswers input:hover {
    background-color: #aaa9ad;
}
        