h1 {
    color: #d4af37;
}

.sportContainer {
    margin-left: 50px;
    float: left;
    position: relative;
    width: 20%;
}

.sportImage {
    display: block;
    width: 100%;
    height: auto;
}

.sportOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d4af37;
}

.sportContainer:hover .sportOverlay {
    opacity: 1;
}

.sportText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.animalContainer {
    margin-left: 50px;
    float: left;
    position: relative;
    width: 20%;
}

.animalImage {
    display: block;
    width: 100%;
    height: auto;
}

.animalOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d4af37;
}

.animalContainer:hover .animalOverlay {
    opacity: 1;
}

.animalText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.memeContainer {
    margin-left: 50px;
    float: left;
    position: relative;
    width: 20%;
}

.memeImage {
    display: block;
    width: 100%;
    height: auto;
}

.memeOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d4af37;
}

.memeContainer:hover .memeOverlay {
    opacity: 1;
}

.memeText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}





.musicContainer {
    margin-left: 50px;
    float: left;
    position: relative;
    width: 20%;
}

.musicImage {
    display: block;
    width: 100%;
    height: auto;
}

.musicOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d4af37;
}

.musicContainer:hover .musicOverlay {
    opacity: 1;
}

.musicText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}